/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  position: relative;
  min-height: 100svh;
  color: #000000;
}

main {
  min-height: 100lvh;
  max-width: 600px;
  margin: auto;
  padding: 3em 2rem;
  position: relative;
}
h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
  text-align: center;
}
i {
  margin-right: 0.1rem;
}
main > a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1.5rem 1rem;
  margin-bottom: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.3s;
  color: #000;
  background-color: #ffffff;
}

main a:hover {
  background-color: #f6f6f6;
}

main a:active {
  background-color: #e0e0e0;
}

.head {
  width: 6rem;
  margin: auto;
  display: block;
  margin-bottom: 1rem;
}

footer {
  color: #808080;
  text-align: center;
}
footer a {
  color: #808080;
}
