/** @format */

* {
    font-family: Arial, Helvetica, sans-serif;
    --mouseX: 877px;
    --mouseY: 270px;

    overflow: hidden auto;
    font-weight: 900;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    color: #ebeae3;
    --scrollTop: 0px;
    --base-size: max(2rem, 16vw);
}

.noise {
    background: url("/img/noise.png");
    pointer-events: none;
    filter: opacity(0.2) brightness(1.5);
    background-size: 400px 400px;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    animation: 400ms steps(10, end) 0s infinite alternate-reverse none running
        noise-animation;
}
@keyframes noise-animation {
    0% {
        background-position: 0% 0%;
    }
    10% {
        background-position: -5% -5%;
    }
    20% {
        background-position: -10% 5%;
    }
    30% {
        background-position: 5% -10%;
    }
    40% {
        background-position: -5% 15%;
    }
    50% {
        background-position: -10% 5%;
    }
    60% {
        background-position: 5% 5%;
    }
    70% {
        background-position: 0% 10%;
    }
    80% {
        background-position: -5% -5%;
    }
    90% {
        background-position: 10% 5%;
    }
}

header {
    position: relative;
    height: 100svh;
    overflow: hidden;
    background-color: #333830;
}

img {
    display: block;
}

header img {
    pointer-events: none;
}
header p {
    font-size: 1.5rem;

    text-align: center;
}

header p {
    position: absolute;
    width: 100%;
    bottom: 4rem;
    z-index: 11;
    transform: translateY(calc(var(--scrollTop) / -4));
}

h1 {
    font-size: var(--base-size);
    text-transform: uppercase;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, calc(-50% + var(--scrollTop) / 8));
    mix-blend-mode: difference;
}

.sky {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 5 * (1vw + 1vh));
    transform: translateY(calc(var(--scrollTop) / -10));
}

.floor {
    position: absolute;
    background: url("/img/floor.webp") no-repeat center top / cover;
    width: 100%;
    bottom: 0rem;
    height: calc(40 * (1vw + 1vh));
    max-height: 100svh;
    transform: translateY(calc(var(--scrollTop) / -5));
}

.floor::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: linear-gradient(0deg, #333830, rgba(0, 0, 0, 0));
    z-index: 3;
}

section {
    /* min-height: 100svh; */
}

#about {
    position: relative;
    overflow: hidden;
    padding: 2rem;
    padding-top: 5rem;
    margin-top: -3rem;
    min-height: 100svh;
    /* linear-gradient(#020f0a, transparent 3rem) no-repeat top right/50%, */
    background: linear-gradient(
            #333830,
            transparent 4rem,
            transparent calc(100% - 4rem),
            #000
        ),
        url(/img/skillbg.webp) no-repeat 70% top / cover;
}

#about h2 span {
    display: block;
    font-size: calc(var(--base-size) / 2);
}
#about p {
    margin-top: 10rem;
    max-width: 40rem;
    z-index: 11;
    position: relative;
}

#colab {
    padding: 3rem 2rem;
}
#colab div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

#colab img {
    width: 10rem;
    filter: brightness(1000);
}

#colab .brand-pts {
    width: 6rem;
}

#colab h2 {
    text-align: center;
}

#skills::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: max(90vw, calc(100vw - 20rem));
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.207), rgb(0, 0, 0) 80%),
        url("/img/studio.webp");
    background-position: right;
    pointer-events: none;
    z-index: -1;
}

#skills {
    min-height: 100svh;
    position: relative;
    padding: 2rem;
}

#skills h2 {
    font-size:max(1.5rem,calc(var(--base-size) / 6));
    margin-bottom: 4rem;
    margin-top: 4rem;
}

#skills ul {
    margin-left: 2rem;
    list-style-type: none;
    font-size:max(1.5rem,calc(var(--base-size) / 5));
}

#skills h2::after {
    content: "";
    display: block;
    width: 2rem;
    height: 0.5rem;
    background-color: #ebeae3;
    margin-top: 1rem;
}
ul li::before {
    content: "- ";
}
#projects h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: calc(var(--base-size) / 6);
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 70rem;
    margin: 0 auto;
    gap: 1rem;
}

.project {
    height: 11.8125rem;
    width: 21rem;
    display: block;
    background-color: #333830;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.5rem #000;
    transition: transform 0.5s;
    overflow: hidden;
}

.project:hover img{
    transform: scale(1.1);
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: transform 0.5s;
}

footer {
    background: linear-gradient(#000, transparent 8rem),
        url("/img/music.webp") no-repeat center/cover;
    position: relative;
    height: 30rem;
    display: flex;
    align-items: flex-end;
    padding: 1rem 1.5rem;
}

.footer-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.socials {
    display: flex;
    gap: 0.5rem;
}

a {
    color: #fff;
}

.fadeIn {
    opacity: 0;
    transition: opacity 1s;
}

.fadeIn.ed {
    opacity: 1;
}
